<div class="metronome">
    <label>{{ beatsPerMinute }} BPM</label>
</div>

<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="400"
  step="5"
  min="30"
  max="400"
  [(ngModel)]="beatsPerMinute"
  (change)="onChange()">
</mat-slider>

<div class="example-button-container">
    <button mat-fab color="primary" *ngIf="!running" (click)="start()">
        <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-fab color="primary" *ngIf="running" (click)="stop()">
        <mat-icon>pause</mat-icon>
    </button>
</div>