::ng-deep .mat-slider-wrapper {

    .mat-slider-thumb-container {
      .mat-slider-thumb-label {
        width: 60px;
        height: 60px;
        top: -75px;
        right: -30px;
      }
    }
  }