.generated-exercises-section {
    mat-card {
        width: 25vw;
        margin: 0px 10px 10px 10px !important;
    }
}

.mat-card-pending {
    background-color:lightskyblue;
}

.mat-card-playing-now {
    background-color:greenyellow;
}

.mat-card-already-been-played {
    background-color:lightgray;
}

.break-seconds {
    color: red;
    font-weight: bold;
    opacity: 25%;
}

.break-seconds-playing {
    opacity: 100% !important;
}
