<div fxLayout="column" fxLayoutGap="2%" id="content">

    <mat-card>
        <mat-card-title>Guitar Buddy</mat-card-title>
        <mat-card-subtitle>Training Play</mat-card-subtitle>
        <mat-card-content>
        <p>Enter the values below to generate your training</p>
        </mat-card-content>
        <mat-card-actions>

            <div [formGroup]="exerciseForm" fxLayout="row" fxLayoutAlign="space-evenly center">

                <div fxLayout="column" fxLayoutAlign="space-between center" appearance="outline">
                    <mat-label>Amount of Exercises: {{ totalExercises }}</mat-label>
                    <mat-slider
                        thumbLabel
                        tickInterval="0"
                        step="1"
                        min="1"
                        max="30"
                        formControlName="totalExercises">
                    </mat-slider>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between center" appearance="outline">
                    <mat-label>Minutes per Exercise: {{ exerciseMinutes }}</mat-label>
                    <mat-slider
                        thumbLabel
                        tickInterval="0"
                        step="1"
                        min="0"
                        max="10"
                        formControlName="exerciseMinutes">
                    </mat-slider>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between center" appearance="outline">
                    <mat-label>Seconds per Exercise: {{ exerciseSeconds }}</mat-label>
                    <mat-slider
                        thumbLabel
                        tickInterval="0"
                        step="5"
                        min="0"
                        max="60"
                        formControlName="exerciseSeconds">
                    </mat-slider>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between center" appearance="outline">
                    <mat-label>Seconds per Break: {{ breakSeconds }}</mat-label>
                    <mat-slider
                        thumbLabel
                        tickInterval="0"
                        step="5"
                        min="0"
                        max="60"
                        formControlName="breakSeconds">
                    </mat-slider>
                </div>

                <div fxLayout="column" fxLayoutAlign="space-between center" appearance="outline">
                    <mat-label>BPM: {{ bpm }}</mat-label>
                    <mat-slider
                        thumbLabel
                        tickInterval="0"
                        step="5"
                        min="30"
                        max="300"
                        formControlName="bpm">
                    </mat-slider>
                </div>

                <button mat-fab color="primary" *ngIf="!running" (click)="buildTraning()">
                    <mat-icon>library_add</mat-icon>
                </button>

                <div class="example-button-container">
                    <button mat-fab color="primary" *ngIf="!running" (click)="playTraining();">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button mat-fab color="primary" *ngIf="running" (click)="pauseTraining()">
                        <mat-icon>pause</mat-icon>
                    </button>
                </div>

            </div>
        </mat-card-actions>
    </mat-card>

    <!-- Generated Exercises -->
    <div class="generated-exercises-section" fxLayout="row wrap" fxLayoutAlign="center center">

        <mat-card *ngFor="let exercise of exercises"
            [ngClass]="{
                'mat-card-playing-now': exercise.playingNow,
                'mat-card-already-been-played': exercise.alreadyBeenPlayed,
                'mat-card-pending': !exercise.playingNow && !exercise.alreadyBeenPlayed
            }">
            <mat-card-subtitle>{{ exercise.title }}</mat-card-subtitle>
            <mat-card-content fxLayout="row" fxLayoutAlign="space-evenly center">
                <span>{{ exercise.secondsLeftInMiliseconds | date: 'mm:ss' }}</span>
                <span class="break-seconds" [ngClass]="{'break-seconds-playing': exercise.alreadyBeenPlayed && exercise.breakSecondsLeft > 0}">
                    {{ exercise.breakSecondsLeft * 1000 | date: 'mm:ss' }}
                </span>
            </mat-card-content>
        </mat-card>

    </div>
</div>