/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// mat-slider {
//     width: 300px;
//   }

// .mat-slider-thumb-label-text {
//     transform: rotate(0deg) !important;
//     // opacity: 1 !important;
//     // color: black !important;
// }

// .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
//     transform: rotate(0deg) !important;
//     border-radius: 5px 5px 0 !important;
//     width: 7rem !important;
//     right: 0px !important;
//     top: -30px !important;
// }